.insurance-badge {
  background-color: #f5f6f6;
  border-radius: 16px;
  padding: 5px 5px;
  margin: 0px;
  width: auto;
  text-align: center;
  border: 1px solid #5043ed;
  display: flex;
  justify-content: center;
}
.insurance-badge p {
  color: #5043ed;
  margin: 0px;
}

.insurance-active {
  margin-right: 5px;
  margin-top: 1px;
}

.draft-badge {
  background-color: #f5f6f6;
  border-radius: 16px;
  padding: 5px 5px;
  margin: 0px;
  width: auto;
  text-align: center;
  border: 1px solid #abb2b5;
  display: flex;
  justify-content: center;
}

.draft-badge p {
  color: #abb2b5;
  margin: 0px;
}
